@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color: #444444;
  // background-color: #eeeeee;
  font-family: "Poppins", sans-serif;
}

html, body, #root, #main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

input, button {
  border: none;
  outline: none;
  background: none;
}

.center {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
